
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Fontawesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

$site-color-black: #323436;
$site-color-green: #6BC30D;
$site-summary-color: #999;
$site-title-color: #636b6f;

$wechat: #44b549;
$github: #24292e;
$weibo: #ff8140;
$qq: #6daaea;

// mobile
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
    max-height: 375px;
}

// bootstrap
.page-header{
    margin-top: 0;
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0;
    }
    .h1{
        line-height: 18px;
    }
}

//pub
.green{ color: $site-color-green; }

*, a{ font-family: "微软雅黑"; }

a{
    color: $site-color-black;
    transition: all .3s ease .1s;
    &, &:hover, &:focus{
        text-decoration: none;
    }
}

.btn-follow {
  color: #fff;
  background-color: #fa7d3c;
}

.btn-follow:focus,
.btn-follow.focus {
  color: #fff;
  background-color: #f4722e;
}

.btn-follow:hover {
  color: #fff;
  background-color: #f4722e;
}

.btn-follow:active,
.btn-follow.active,
.open > .btn-follow.dropdown-toggle {
  color: #fff;
  background-color: #f4722e;
}

.btn-follow:active:hover,
.btn-follow:active:focus,
.btn-follow:active.focus,
.btn-follow.active:hover,
.btn-follow.active:focus,
.btn-follow.active.focus,
.open > .btn-follow.dropdown-toggle:hover,
.open > .btn-follow.dropdown-toggle:focus,
.open > .btn-follow.dropdown-toggle.focus {
  color: #fff;
  background-color: #f4722e;
}

.btn-follow:active,
.btn-follow.active,
.open > .btn-follow.dropdown-toggle {
  background-image: none;
}

.btn-follow.disabled:hover,
.btn-follow.disabled:focus,
.btn-follow.disabled.focus,
.btn-follow[disabled]:hover,
.btn-follow[disabled]:focus,
.btn-follow[disabled].focus,
fieldset[disabled] .btn-follow:hover,
fieldset[disabled] .btn-follow:focus,
fieldset[disabled] .btn-follow.focus {
  background-color: #fa7d3c;
}

@media (min-width: 1430px){
    .container {
        width: 1430px;
    }

}

.full-width{ width: 100%;}

.col-md-8, .col-md-4, .col-md-6{
    padding: 0 10px !important;
}

ul{ padding: 0; }

li{
    list-style: none;
}

a:hover, a:focus{
    color: $site-color-green !important;
}

@keyframes logo_light {
    from {
        text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  $site-color-green,
               0 0 70px  $site-color-green,
               0 0 80px  $site-color-green,
               0 0 100px $site-color-green,
               0 0 150px $site-color-green;
    }

    to {
        text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px $site-color-green,
               0 0 35px $site-color-green,
               0 0 40px $site-color-green,
               0 0 50px $site-color-green,
               0 0 75px $site-color-green;
    }
}

.col-box{
    width: 100%;
    margin: 10px 0;
    float: left;
    border-radius: 3px;
    background: #fff;
}

/* header */
.navbar-inverse{
    background-color: $site-color-black;
}

.logo {
    margin-right: 10px;
    font-size: 1.7em;
    color: $site-color-green;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 50px;
    &:hover {
        color: #fff !important;
        animation: logo_light 1.5s ease-in-out infinite alternate;
    }
}

.nav a, .footer-nav a{
    height: 50px;
    transition: all .2s ease .1s;

    &:before, &:after{
        display: inline-block;
    	opacity: 0;
    	-webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
    	-moz-transition: -moz-transform 0.5s, opacity 0.3s;
    	transition: transform 0.5s, opacity 0.3s;
    }

    &::before {
        margin-right: 8px;
    	content: '[';
    	-webkit-transform: translateX(20px);
    	-moz-transform: translateX(20px);
    	transform: translateX(20px);
    }

    &::after {
        margin-left: 8px;
    	content: ']';
    	-webkit-transform: translateX(-20px);
    	-moz-transform: translateX(-20px);
    	transform: translateX(-20px);
    }

    &:hover::before,
    &:hover::after{
        color: $site-color-green;
    	opacity: 1;
    	-webkit-transform: translateX(0px);
    	-moz-transform: translateX(0px);
    	transform: translateX(0px);
    }

    &:hover{
        box-shadow: 0 0 8px #222;
        background-color: #454648 !important;
        color: #fff !important;
        border-bottom: 3px solid $site-color-green;
    }

    &.active{
        color: #fff !important;
    }
}

.nav-sign {
    .dropdown-menu > li{
        line-height: 50px;
        text-align: center;
        a{
            line-height: 50px;
            padding: 0;
        }
    }
    & > li > a{
        color: $site-color-green !important;
    }
}

.site-content{
    margin-top:60px;
    margin-bottom: 20px;
    i{
        width: 20px;
        text-align: center;
    }
}

/* home page */

.album-list, .article-list{
    padding: 10px 15px;

    a{
        color: $site-title-color;
    }

    h3{
        margin-top: 10px;
    }

    h3::before{
        margin-right: 8px;
    	content: '>';
        font-weight: bold;
        color: $site-color-green;
    }
}

.album-list{
    .album-item{
        transition: all .5s ease .1s;
        padding: 5px !important;
        border: 1px solid transparent;
        box-shadow: 0 3px 9px 1px transparent;
    }

    .album-item > a{
        display: block;
        overflow: hidden;
    }
    .album-item, .album-item img{
        transition: all .5s ease .1s;
    }

    .album-item:hover{
        border-radius: 3px;
        border: 1px solid #ddd;
        box-shadow: 0 3px 9px 1px #c8c8c8;
        img{
            transform: scale(1.2);
        }
    }

    img{
        width: 100%;
    }
}

.banner{
    ul{
        padding: 0;
        margin: 0;
    }

    img{
        width: 100%;
        border-radius: 3px;
    }
}

.news-box{
    & > .col-md-6:nth-child(2){
        padding-left: 0px !important;
    }

    & > .col-md-6:nth-child(3){
        padding-right: 0px !important;
    }

    @media (max-width: 992px){
        & > .col-md-6:nth-child(2){
            padding: 0px !important;
        }

        & > .col-md-6:nth-child(3){
            padding: 0px !important;
        }
    }
}

.article-list{
    ul{
        -webkit-padding-start: 0;

        li{
            padding: 10px 20px;
            border-bottom: 1px solid #dadada;
            line-height: 35px;
            a{
                height: 28px;
                line-height: 28px;
                font-size: 16px;
                display: block;
            }
        }

        li:last-child{
            border-bottom: 0;
        }
    }

    .article-summary{
        height: 66px;
        overflow: hidden;
        color: $site-summary-color;
    }

    .article-mate span{
        color: $site-summary-color;
        font-size: 12px;
        line-height: 40px;
    }
}

.list-title{
    a{
        line-height: 47px;
    }
}

/* footer */
@media (max-width: 992px){
    .footer{
        padding-top: 20px;
        height: 140px !important;
    }
    .footer-nav, .footer-link{
        display: none;
    }
    .site-content, .album-list, .article-list, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .list-title{ padding: 0 15px; }
}

.footer{
    background: $site-color-black;
    height: 180px;
    a{
        color: $site-color-green;
    }
}

.footer-nav{
    width: 38%;
    margin: 0 auto;
    float: none !important;
}

.footer-position{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* passport page */
.passport-title{
    height: 50px;
    background: $site-color-black;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 3px 3px 0 0;

    &, a{
        color: #fff;
        font-weight: bold;
    }

    a{
        margin: 0 10px;
    }


    a.active{
        color: $site-color-green;
    }
}

.passport-form{
    padding: 20px;
    color: $site-summary-color;

    & > .form-group-lg, & > .btn{
        margin: 5px 0;
    }

    .inp-captcha{
        width: 65%;
    }

    .captcha{
        height: 46px;;
        width: 30%;
        border-radius: 6px;
    }
}

.passport-box,.passport-fast{
    & > .col-box{
        height: 465px;
    }
}

@media (min-width: 992px){
    .passport-box, .passport-fast{
        margin-top: 7%;
        margin-bottom: 131px;
    }
}

/* user info box */

.info-top{
    width: 100%;
    background-size: 100% 150%;
    .info-avatar{
        width: 150px;
        position: relative;
        width: 40%;
        top: 70px;
        transition: all .5s ease .1s;
    }

    .info-avatar:hover{
        transform: scale(1.2);
    }
}

.info-bottom{
    padding: 85px 20px 10px 20px;
    font-size: 1.2em;
    line-height: 35px;
}

.info-opt{
    .info-opt-edit{
        width: 100%;
        padding: 5px 5px 15px 5px;
    }

    div{
        padding: 15px 10px;
        width: 50%;
    }

    @media (max-width: 1430px){
        & > div{
            width: 100% !important;
            padding: 5px;
        }
        & > .info-opt-edit{
            width: 100% !important;
        }
    }

    @media (max-width: 991px){
        & > div{
            padding: 15px 10px;
            width: 50% !important;
        }
    }

    a{
        border-radius: 5px;
        text-align: center;
        width: 100%;
    }
    a:hover, a:focus{ color: #fff !important; }
}

.info-contact{
    padding-top: 10px;
    border-top: 1px solid #ccc;

    .github{
        border: 1px solid $github;
        a{ color: $github; }
    }
    .wechat{
        border: 1px solid $wechat;
        a{ color: $wechat; }
    }
    .weibo{
        border: 1px solid $weibo;
        a{ color: $weibo; }
    }
    .qq{
        border: 1px solid $qq;
        a{ color: $qq; }
    }

    li {
        a{
            display: block;
        }

        text-align: center;
        line-height: 35px;
        margin: 5px;
        border-radius: 5px;
    }

    li:hover{
        border-color: $site-color-green;
        transition: all .2s ease .1s;
    }
}

.info-follow{
    padding-top: 10px;

    li{
        text-align: center;
        float: left;
        width: 33%;

        &:nth-child(2){
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }

        a{
            color: $site-color-black;
        }

        span{
            font-size: 0.9em;
            line-height: 15px;
            color: #808080;
        }

        strong, span{
            display:block;
        }
    }
}

/* user center */

.ucenter-menu{
    margin-bottom: 0;
    padding: 15px 25px 20px 25px;

    li{
        text-align: center;
        line-height: 3em;
        border-bottom: 1px solid #f1f1f1;

        a{
            font-size: 1em;
            color: $site-color-black;
        }
    }
}
